<%- include('layout/header') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-success">
                        <h3 class="text-light">Edit Movie - <%= editmovie.Mname %> </h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/updatemovie/<%= editmovie._id %>" method="post" id="edit-movie" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="Mname">Name</label>
                                <input type="text" name="Mname" class="form-control" placeholder="Enter name" value="<%= editmovie.Mname %>"
                                    required />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="direct">Directed By</label>
                                <input type="text" name="direct" class="form-control" value="<%= editmovie.directedBy %>" placeholder="Directed By" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="genere">Genere</label>
                                <input type="text" name="genere" class="form-control" value="<%= editmovie.genere %>" placeholder=""
                                    required />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="date">Release Date</label>
                                <input type="date" name="date" class="form-control" placeholder="" value="<%= editmovie.date %>"
                                    required />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="image">Poster</label>
                                <input type="file" name="image" class="form-control"
                                     />
                                <img src="/<%= editmovie.image %>" width="100" class="img-thummbnail mt-1" />
                            </div>
                            <input type="hidden" name="old_image" value="<%= editmovie.image %>">
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" class="btn btn-success" value="Update Movie"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/footer') %>